<mat-card>
    <mat-card-content>
        <form [formGroup]="signUpForm">
            <p>Please fill out the form to register</p>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="email" formControlName="email" required autocomplete="email">
                <mat-icon matSuffix>
                    {{!f.email.errors?.email && !f.email.errors?.required ? 'mark_email_read' : 'email'}}</mat-icon>
                <mat-error *ngIf="(f.email.invalid && f.email.touched) || f.email.dirty">
                    <small *ngIf="f.email.errors?.required" class="text-danger">email address is required</small>
                    <small *ngIf="f.email.errors?.pattern" class="text-danger">Please provide a valid email
                        address</small>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password"
                    formControlName="password" required>
                <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="btn">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="(f.password.invalid && f.password.touched) || f.password.dirty">
                    <small *ngIf="f.password.errors?.required" class="text-danger">Password is
                        required</small>
                    <small *ngIf="f.password.errors?.minlength" class="text-danger">Password must contain at least
                        {{minPasswordLength}} characters<br></small>
                    <small *ngIf="f.password.errors?.hasNumber" class="text-danger">
                        Password must contain at least 1 number<br></small>
                    <small *ngIf="f.password.errors?.hasLetter" class="text-danger">
                        Password must contain at least 1 letter
                    </small>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Confirm Password"
                    formControlName="confirmPassword" required>
                <mat-icon matSuffix>
                    {{!f.confirmPassword.invalid ? 'check_circle' : 'error'}}</mat-icon>
                <mat-error *ngIf="f.confirmPassword.invalid">
                    <small *ngIf="f.confirmPassword.errors?.NoPasswordMatch" class="text-danger"><br>Password does not
                        match first one</small>
                </mat-error>
            </mat-form-field>
            <re-captcha #captchaRef="reCaptcha" (resolved)="$event && onSubmit()" formControlName="reCaptchaToken">
            </re-captcha>
            <mat-error *ngIf="error" class="err">{{error}}</mat-error>
            <h2 class="mat-body-strong" *ngIf="successMsg">{{successMsg}}</h2>
            <button (click)="captchaRef.execute()" mat-raised-button color="primary"
                [disabled]="!signUpForm.valid">Register</button>
            <a routerLink="/auth/sign-in" style="text-decoration: none;">
                <h2 class="mat-small">Already have account? Login!</h2>
            </a>
        </form>
    </mat-card-content>
</mat-card>