<button (click)="onSendMessage()">
  Send Message
</button>
<mat-card>
  <mat-card-title>Explanation</mat-card-title>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 15px;">
  <form [formGroup]="initDataForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
      <div fxFlex ngClass.sm="margin-right" ngClass.md="margin-right" ngClass.lg="margin-right">
        <mat-card-title>Parant's data</mat-card-title>
        <mat-card-content>

          <div>
            <div fxLayout="column" formGroupName="parentData">
              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="First Name" formControlName="firstName" required autocomplete="off">
                    <mat-error *ngIf="(initDataForm.get('parentData.firstName').invalid && initDataForm.get('parentData.firstName').touched) || 
                    initDataForm.get('parentData.firstName').dirty">
                      <small *ngIf="initDataForm.get('parentData.firstName').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Last Name" formControlName="lastName" required autocomplete="off">
                    <mat-error *ngIf="(initDataForm.get('parentData.lastName').invalid && initDataForm.get('parentData.lastName').touched) || 
                    initDataForm.get('parentData.lastName').dirty">
                      <small *ngIf="initDataForm.get('parentData.lastName').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Unique Citizens Identity Number" formControlName="citizenID" required
                      autocomplete="off">
                    <mat-error *ngIf="(initDataForm.get('parentData.citizenID').invalid && initDataForm.get('parentData.citizenID').touched) || 
                    initDataForm.get('parentData.citizenID').dirty">
                      <small *ngIf="initDataForm.get('parentData.citizenID').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required autocomplete="off">
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="(initDataForm.get('parentData.dob').invalid && initDataForm.get('parentData.dob').touched) || 
                    initDataForm.get('parentData.dob').dirty">
                      <small *ngIf="initDataForm.get('parentData.dob').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="City" formControlName="city" required autocomplete="off">
                    <mat-error *ngIf="(initDataForm.get('parentData.city').invalid && initDataForm.get('parentData.city').touched) || 
                    initDataForm.get('parentData.city').dirty">
                      <small *ngIf="initDataForm.get('parentData.city').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Street" formControlName="street" required autocomplete="off">
                    <mat-error *ngIf="(initDataForm.get('parentData.street').invalid && initDataForm.get('parentData.street').touched) || 
                    initDataForm.get('parentData.street').dirty">
                      <small *ngIf="initDataForm.get('parentData.street').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div formArrayName="phones" fxFlex>
                <div *ngFor="let group of initDataForm.get('parentData.phones')['controls']; let
                    i=index" [formGroupName]="i" fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <div fxFlex *ngIf="i != 0">
                      <mat-icon aria-hidden="false" aria-label="Remove icon" color="warn" (click)="onPhoneRemove(i)"
                        style="margin-right: 10px; margin-top: 10px; cursor: pointer;">
                        remove_circle
                      </mat-icon>
                    </div>

                    <mat-form-field class="full-width-input">
                      <mat-select placeholder="Phone type" formControlName="phoneType" required>
                        <mat-option *ngFor="let phone of phoneTypes" [value]="phone.value"> {{phone.viewValue}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="(initDataForm.get('parentData.phones')['controls'][i].get('phoneType').invalid && initDataForm.get('parentData.phones')['controls'][i].get('phoneType').touched) || 
                      initDataForm.get('parentData.phones')['controls'][i].get('phoneType').dirty">
                        <small
                          *ngIf="initDataForm.get('parentData.phones')['controls'][i].get('phoneType').errors?.required"
                          class="text-danger">Field
                          required</small>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Phone Owner Person" formControlName="phoneOwner" required
                        autocomplete="off">
                      <mat-error *ngIf="(initDataForm.get('parentData.phones')['controls'][i].get('phoneOwner').invalid && initDataForm.get('parentData.phones')['controls'][i].get('phoneOwner').touched) || 
                      initDataForm.get('parentData.phones')['controls'][i].get('phoneOwner').dirty">
                        <small
                          *ngIf="initDataForm.get('parentData.phones')['controls'][i].get('phoneOwner').errors?.required"
                          class="text-danger">Field
                          required</small>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Phone Number" formControlName="phoneNumber" required
                        autocomplete="off">
                      <mat-error *ngIf="(initDataForm.get('parentData.phones')['controls'][i].get('phoneNumber').invalid && initDataForm.get('parentData.phones')['controls'][i].get('phoneNumber').touched) || 
                      initDataForm.get('parentData.phones')['controls'][i].get('phoneNumber').dirty">
                        <small
                          *ngIf="initDataForm.get('parentData.phones')['controls'][i].get('phoneNumber').errors?.required"
                          class="text-danger">Field
                          required</small>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <small class="mat-small" (click)="onAddPhone()" style="cursor: pointer; color: cornflowerblue;">Add new
                phone number</small>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Employer (Optional)" formControlName="employer" autocomplete="off">
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Job Title (Optional)" formControlName="jobTitle" autocomplete="off">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>

                  <mat-form-field class="full-width-input">
                    <mat-select placeholder="Role you are requesting" formControlName="requestedRole" required>
                      <mat-option *ngFor="let role of roles" [value]="role"> {{role}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="(initDataForm.get('parentData.requestedRole').invalid && initDataForm.get('parentData.requestedRole').touched) || 
                    initDataForm.get('parentData.requestedRole').dirty">
                      <small *ngIf="initDataForm.get('parentData.requestedRole').errors?.required"
                        class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>
      </div>
      <div fxFlex ngClass.sm="margin-left" ngClass.md="margin-left" ngClass.lg="margin-left">
        <mat-card-title>Student's data</mat-card-title>
        <mat-card-content style="height: 100%; ">

          <div fxLayout="column" style="height: 100%;">
            <div>
              <div formArrayName="studentData" fxFlex>
                <div *ngFor="let group of initDataForm.get('studentData')['controls']; let
                    i=index" [formGroupName]="i" fxLayout="row" fxLayout.xs="column">
                  <div fxFlex [ngClass]="{'next-student': i != 0 }">
                    <div *ngIf="i != 0">
                      <div fxFlex fxLayoutAlign="space-around center">
                        <mat-icon aria-hidden="false" aria-label="Remove icon" color="warn" (click)="onStudentRemove(i)"
                          style="margin-left: 10px; margin-right: 10px; cursor: pointer;">
                          remove_circle
                        </mat-icon>
                      </div>
                    </div>
                    <div fxFlex fxlayout="column">
                      <div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="column" fxFlex>
                          <div fxFlex>
                            <mat-form-field class="full-width-input">
                              <input matInput placeholder="First Name" formControlName="firstName" required
                                autocomplete="off">
                              <mat-error *ngIf="(initDataForm.get('studentData')['controls'][i].get('firstName').invalid && initDataForm.get('studentData')['controls'][i].get('firstName').touched) || 
                              initDataForm.get('studentData')['controls'][i].get('firstName').dirty">
                                <small
                                  *ngIf="initDataForm.get('studentData')['controls'][i].get('firstName').errors?.required"
                                  class="text-danger">Field
                                  required</small>
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div fxFlex>
                            <mat-form-field class="full-width-input">
                              <input matInput placeholder="Last Name" formControlName="lastName" required
                                autocomplete="off">
                              <mat-error *ngIf="(initDataForm.get('studentData')['controls'][i].get('lastName').invalid && initDataForm.get('studentData')['controls'][i].get('lastName').touched) || 
                              initDataForm.get('studentData')['controls'][i].get('lastName').dirty">
                                <small
                                  *ngIf="initDataForm.get('studentData')['controls'][i].get('lastName').errors?.required"
                                  class="text-danger">Field
                                  required</small>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayout.md="column" fxFlex>
                          <div fxFlex>
                            <mat-form-field class="full-width-input">
                              <input matInput placeholder="Unique Citizens Identity Number" formControlName="citizenID"
                                required autocomplete="off">
                              <mat-error *ngIf="(initDataForm.get('studentData')['controls'][i].get('citizenID').invalid && initDataForm.get('studentData')['controls'][i].get('citizenID').touched) || 
                                initDataForm.get('studentData')['controls'][i].get('citizenID').dirty">
                                <small
                                  *ngIf="initDataForm.get('studentData')['controls'][i].get('citizenID').errors?.required"
                                  class="text-danger">Field
                                  required</small>
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div fxFlex>
                            <mat-form-field class="full-width-input">
                              <mat-label>Date of birth</mat-label>
                              <input matInput [matDatepicker]="pickerST" formControlName="dob" required
                                autocomplete="off">
                              <mat-datepicker-toggle matPrefix [for]="pickerST"></mat-datepicker-toggle>
                              <mat-datepicker #pickerST></mat-datepicker>
                              <mat-error *ngIf="(initDataForm.get('studentData')['controls'][i].get('dob').invalid && initDataForm.get('studentData')['controls'][i].get('dob').touched) || 
                                initDataForm.get('studentData')['controls'][i].get('dob').dirty">
                                <small
                                  *ngIf="initDataForm.get('studentData')['controls'][i].get('dob').errors?.required"
                                  class="text-danger">Field
                                  required</small>
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <small class="mat-small" (click)="onStudent()" style="cursor: pointer; color: cornflowerblue;">Add new
              student</small>
            <div style="margin-bottom: 68px;" fxLayout="row" fxFlex>
              <div fxFlex fxLayoutAlign="center end">
                <div fxFlex fxLayout='column'>
                  <button type=" submit" mat-stroked-button color="primary" style="padding: 0 50px;"
                    [disabled]="buttonDisabled">Submit</button>
                  <mat-error class="mat-body" *ngIf="notValidFormWarning" style="margin-top: 20px;">
                    The form is NOT
                    submitted. Please enter all
                    required
                    information and try again.</mat-error>
                  <mat-error class="mat-body" *ngIf="serverError" style="margin-top: 20px;">
                    Server encountered error. Please try later again.</mat-error>
                  <p class="mat-small" *ngIf="requestSubmitted" style="margin-top: 20px;" style="color: green;">
                    The request is successfully submitted. After reviewing the request, we will send you a
                    notification via email you are registered with.</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>

      </div>
    </div>
  </form>
</mat-card>