<mat-card>
  <mat-card-title>Explanation</mat-card-title>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </mat-card-content>
</mat-card>

<mat-card style="margin-top: 15px;">
  <form [formGroup]="initDataForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayout.xs="column" fxFlex>
      <div fxFlex ngClass.sm="margin-right" ngClass.md="margin-right" ngClass.lg="margin-right">
        <mat-card-title>Parant's data</mat-card-title>
        <mat-card-content>

          <div>
            <div fxLayout="column" formGroupName="parentData">
              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="First Name" formControlName="firstName" required>
                    <mat-error *ngIf="(initDataForm.get('parentData.firstName').invalid && initDataForm.get('parentData.firstName').touched) || 
                    initDataForm.get('parentData.firstName').dirty">
                      <small *ngIf="initDataForm.get('parentData.firstName').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                    <mat-error *ngIf="(initDataForm.get('parentData.lastName').invalid && initDataForm.get('parentData.lastName').touched) || 
                    initDataForm.get('parentData.lastName').dirty">
                      <small *ngIf="initDataForm.get('parentData.lastName').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Unique Citizens Identity Number" formControlName="citizenID" required>
                    <mat-error *ngIf="(initDataForm.get('parentData.citizenID').invalid && initDataForm.get('parentData.citizenID').touched) || 
                    initDataForm.get('parentData.citizenID').dirty">
                      <small *ngIf="initDataForm.get('parentData.citizenID').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="(initDataForm.get('parentData.dob').invalid && initDataForm.get('parentData.dob').touched) || 
                    initDataForm.get('parentData.dob').dirty">
                      <small *ngIf="initDataForm.get('parentData.dob').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="City" formControlName="city" required>
                    <mat-error *ngIf="(initDataForm.get('parentData.city').invalid && initDataForm.get('parentData.city').touched) || 
                    initDataForm.get('parentData.city').dirty">
                      <small *ngIf="initDataForm.get('parentData.city').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Street" formControlName="street" required>
                    <mat-error *ngIf="(initDataForm.get('parentData.street').invalid && initDataForm.get('parentData.street').touched) || 
                    initDataForm.get('parentData.street').dirty">
                      <small *ngIf="initDataForm.get('parentData.street').errors?.required" class="text-danger">Field
                        required</small>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div formArrayName="phones" fxFlex>
                <div *ngFor="let group of initDataForm.get('parentData.phones')['controls']; let
                    i=index" [formGroupName]="i" fxLayout="row" fxLayout.xs="column">
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <mat-select placeholder="Phone type" formControlName="phoneType" required>
                        <mat-option *ngFor="let phone of phoneTypes" [value]="phone.value"> {{phone.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Phone Owner Person" formControlName="phoneOwner" required>
                    </mat-form-field>
                  </div>
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <small class="mat-small" (click)="onAddPhone()" style="cursor: pointer; color: cornflowerblue;">Add new
                phone number</small>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Employer (Optional)" formControlName="employer">
                  </mat-form-field>
                </div>

                <div fxFlex>
                  <mat-form-field class="full-width-input">
                    <input matInput placeholder="Job Title (Optional)" formControlName="jobTitle">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.xs="column" fxFlex>
                <div fxFlex>

                  <mat-form-field class="full-width-input">
                    <mat-select placeholder="Role you are requesting" formControlName="requestedRole" required>
                      <mat-option *ngFor="let role of roles" [value]="role"> {{role}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

        </mat-card-content>
      </div>
      <div fxFlex ngClass.sm="margin-left" ngClass.md="margin-left" ngClass.lg="margin-left">
        <mat-card-title>Student's data</mat-card-title>
        <mat-card-content style="height: 100%; ">

          <div fxLayout="column" style="height: 100%;">
            <div>
              <div fxLayout="column" formGroupName="studentData">
                <div fxLayout="row" fxLayout.xs="column" fxFlex>
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="First Name" formControlName="firstName" required>
                    </mat-form-field>
                  </div>

                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Last Name" formControlName="lastName" required>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column" fxFlex>
                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="Unique Citizens Identity Number" formControlName="citizenID"
                        required>
                    </mat-form-field>
                  </div>

                  <div fxFlex>
                    <mat-form-field class="full-width-input">
                      <input matInput placeholder="DOB - update" formControlName="dob" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div style="margin-bottom: 68px;" fxLayout="row" fxFlex>
              <div fxFlex fxLayoutAlign="center end">
                <button type=" submit" mat-stroked-button color="primary" style="padding: 0 50px;">Submit</button>
              </div>
            </div>
          </div>
        </mat-card-content>

      </div>
    </div>
  </form>
</mat-card>