mat-card {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.err {
    margin-bottom: 15px;
    font-weight: 500;
}

.full-width-input {
    width: 100%;
}

.btn {
    cursor: pointer;
}

.mat-body-strong {
    color: mediumseagreen;
}