<div class="container" [class.is-mobile]="mobileQuery.matches">
  <app-app-bar [sidenav]="sidenav" [isMobile]="mobileQuery.matches"></app-app-bar>


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <app-left-menu></app-left-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content" [@onMainContentChange]="sidenavOpened ? 'open' : 'close'">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>